<div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">In my blog I will write some of my experiences with programming and something else.</p>
</div>

<div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Latest posts</h4>

    <ol class="list-unstyled mt-3 mb-0" *ngIf="!error && !loading">
        <li *ngFor="let blog of blogs | slice:0:5">
            <a href="/blog/{{blog._id}}/{{blog.permalink}}">
                {{blog.title}}
            </a>
        </li>
    </ol>

    <div *ngIf="!!error">
        <small>
            <strong>Sorry, something went wrong</strong> <br>
            Please, refresh the page or click <a (click)="refreshPosts($event)" href="#">here</a>
        </small>
    </div>

    <div *ngIf="loading && !error" class="p-4">
        <app-loading></app-loading>
    </div>
</div>