{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-classes",
        "@babel/plugin-transform-computed-properties",
        "@babel/plugin-transform-duplicate-keys",
        "@babel/plugin-transform-function-name",
        "@babel/plugin-transform-spread"
    ]
  }