<nav class="{{!isSocialMediasPage ? 'offset-md-1' : ''}} social-medias">
  <ul>
    <li>
      <a href="https://bit.ly/2JQla2m" rel="noreferrer" target="_blank">
        <fa-icon [icon]="faFacebookSquare" size="4x"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://bit.ly/2VKCNYq" rel="noreferrer" target="_blank">
        <fa-icon [icon]="faInstagram" size="4x"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://bit.ly/2HqfB8X" rel="noreferrer" target="_blank">
        <fa-icon [icon]="faTwitterSquare" size="4x"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://bit.ly/2HpsobL" rel="noreferrer" target="_blank">
        <fa-icon [icon]="faLinkedin" size="4x"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://bit.ly/2EluK9Q" rel="noreferrer" target="_blank">
        <fa-icon [icon]="faGithubSquare" size="4x"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
