<form action="https://formspree.io/mgennpap" method="POST" class="col-lg-8 offset-lg-2 form-horizontal">
  <div class="form-group row">
    <label for="nome" class="col-xs-10 offset-xs-1 col-md-2 offset-md-0 control-label">Your name</label>
    <div class="col-xs-10 offset-xs-1 col-md-9 offset-md-0">
      <input class="form-control" name="nome" type="text" id="nome" size="20" required="required" placeholder="Your name here" />
    </div>
  </div>
  <div class="form-group row">
    <label for="_replyto" class="col-xs-10 offset-xs-1 col-md-2 offset-md-0 control-label">Your e-mail</label>
    <div class="col-xs-10 offset-xs-1 col-md-9 offset-md-0">
      <input class="form-control" name="_replyto" type="email" id="_replyto" size="20" required="required" placeholder="email@server.com" />
    </div>
  </div>
  <div class="form-group row">
    <label for="subject" class="col-xs-10 offset-xs-1 col-md-2 offset-md-0 control-label">Subject</label>
    <div class="col-xs-10 offset-xs-1 col-md-9 offset-md-0">
      <select class="form-control" name="subject" id="subject" required>
        <option selected>--- Choose an option ---</option>
        <option value="Doubts">Doubts</option>
        <option value="Suggestions">Suggestions</option>
        <option value="Claims">Claims</option>
        <option value="Testimonial">Testimonial</option>
        <option disabled> ------ </option>
        <option value="Development">Development</option>
        <option value="Design">Design</option>
        <option disabled> ------ </option>
        <option value="Others">Others</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="message" class="col-xs-10 offset-xs-1 col-md-2 offset-md-0 control-label">Message</label>
    <div class="col-xs-10 offset-xs-1 col-md-9 offset-md-0">
      <textarea class="form-control" name="message" id="message" required rows="8"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-xs-1 col-xs-10 col-md-9 offset-md-2">
      <div id="recaptcha" class="g-recaptcha" data-sitekey="6LeN7WQUAAAAACIN69-HcevBNdTPCC-DIshNvch4">&nbsp;</div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-xs-1 col-xs-10 col-md-9 offset-md-2">
      <button name="send" type="submit" class="btn btn-primary btn-lg">Send contact!</button>
    </div>
  </div>
</form>

