// Variables

@theme-primary: #303549;
@theme-dark   : #222222;


.blogs-list {
  font-size  : 20px;
  color      : #212529;
  font-family: Lora, Times New Roman, serif;
}

.down-icon {
  position         : absolute;
  width            : 100%;
  margin-top       : -90px;
  text-align       : center;
  animation        : bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

/*
@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}
.title {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/img/blog/list.jpg');
  background-repeat  : no-repeat;
  background-position: top center;
  background-size    : cover;
  height             : 400px;

  h4 {
    color: #ffffff;
  }
}*/

h4 {
  letter-spacing: 8px;
}

h5 {
  padding-top: 3.8rem !important;
}

fa-icon.info-icon {
  opacity  : .2;
  transform: rotate(-5deg);
  position : absolute;
}


#myCarousel {
  .container {
    @media (min-width: 1200px) {
      margin-top: -400px;
    }
  }

  .carousel-caption {
    @media (min-width: 768px) {
      margin-bottom: 100px;
    }
  }

  .btn-primary {
    background-color: #303549;
    background-image: -webkit-radial-gradient(90% 130%, circle cover, #50587b, #303549 100%);

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .carousel-item {
    &.active {
      >img {
        filter: brightness(0.3) blur(1.1px);
      }
    }
  }

}