<section class="container my-3">
  <div class="row my-5 text-center">
    <div class="col">
      <h4 class="display-4">Blog</h4>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">

      <!-- <div class="list-group">
        <a *ngFor="let blog of blogs" routerLink="/blog/{{blog._id}}"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{blog.title}}</h5>
            <small>{{blog.created_at | dateAgo}}</small>
          </div>
          <p class="mb-1">{{blog.description}}</p>
          <small>ler mais...</small>
        </a>
      </div> -->

      <!-- <div class="row d-flex justify-content-center cards-components" *ngFor="let blog of blogs"> -->
        <app-card [data]="blogs"></app-card>
      <!-- </div> -->

      <div *ngIf="loading">
        <app-loading></app-loading>
      </div>

    </div>
  </div>
</section>