// Variables

@theme-primary: #303549;
@theme-dark   : #222222;

.title {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/img/blog/list.jpg');
  background-repeat  : no-repeat;
  background-position: top center;
  background-size    : cover;
  height             : 200px;

  h4 {
    color: #ffffff;
  }
}

h4 {
  letter-spacing: 8px;
}

h5 {
  padding-top: 3.8rem !important;
}

fa-icon.info-icon {
  opacity  : .2;
  transform: rotate(-5deg);
  position : absolute;
}