
<div *ngIf="!error && !loading">
  <div *ngFor="let am of aboutMe">
    <div [innerHTML]="am.description"></div>
  </div>
</div>

<div *ngIf="!!error">
  <small>
    <strong>Sorry, something went wrong</strong> <br>
    Please, refresh the page or click <a (click)="refreshPosts($event)" href="#">here</a>
  </small>
</div>

<div *ngIf="loading && !error" class="p-4">
  <app-loading></app-loading>
</div>

<ng-template [ngIf]="!isForPage">
  <a routerLink="/about-me" class="btn btn-primary btn-lg">See more about me</a>
</ng-template>