<p class="lead">I'm a front-end engineer at <a routerLink="/blog/5f2c63961beeee270370c08c/fh-company">FH Company</a>, today I
  develop projects using the <a routerLink="/blog/5f2c66201beeee270370c08d/sap-hybris-what-is-it-">SAP C/4HANA</a> platform (old name Hybris).</p>
<p class="lead">jQuery, JavaScript (Vanilla, ES6), React, Angular, Grunt, Gulp, SASS, Less, CSS3, HTML5 are some of the
  programming languages that ​​I've worked on.</p>

<ng-template [ngIf]="!isForPage">
  <a routerLink="/about-me" class="btn btn-primary btn-lg">See more about me</a>
</ng-template>