<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/frontend-engineer.jpg" alt="Front-end developer" width="100%" class="bd-placeholder-img">
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <img alt="Felipe Luis" src="/assets/img/logo-felipe-luis.png" class="img-fluid" />
          </h1>
          <hr class="light d-none d-md-block">
          <p class="d-none d-sm-block"> SAP C/4Hana (Hybris) Front-end Developer </p>
          <a routerLink="/contact" class="btn btn-primary btn-lg">Contact me</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>

<section id="about-me">
	<div class="container">
    <div class="d-none d-lg-block row title">
      <h2>About Me</h2>
    </div>
		<div class="row content">
			<div class="col-lg-8 offset-lg-2 text-center">
        <app-about-me></app-about-me>
			</div>
		</div>
	</div>
</section>

<section id="social-medias">
	<div class="container">
    <div class="d-none d-lg-block row title">
      <h2>My Social Medias</h2>
    </div>
		<div class="row content">
			<div class="text-center">
        <app-social-medias></app-social-medias>
			</div>
		</div>
	</div>
</section>

<!--section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<h2 class="section-heading">My contact</h2>
				<hr class="primary">
				<p>My email :)</p>
			</div>
			<div class="col-sm-12 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact"></i>
				<p><a href="mailto:contato@felipeluis.com.br">contato@felipeluis.com.br</a></p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<hr class="primary">
				<p>You can also send me a message by this contact below!</p>
			</div>
      <div class="col-lg-8 offset-lg-2">
        <app-contact-form></app-contact-form>
      </div>
		</div>
	</div>
</section-->
