<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/frontend-engineer.jpg" alt="Front-end Engineer" width="100%" class="bd-placeholder-img">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        <img alt="Felipe Luis" src="/assets/img/logo-felipe-luis.png" class="img-fluid" />
                    </h1>
                    <hr class="light d-none d-md-block">
                    <p class="d-none d-sm-block"> Front-end Engineer </p>
                    <a routerLink="/contact" class="btn btn-primary btn-lg">Contact me</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about-me">
    <div class="container">
        <div class="d-none d-lg-block row title">
            <h2>About Me</h2>
        </div>
        <div class="row content">
            <div class="col-lg-8 offset-lg-2 text-center">
                <app-about-me [isForPage]=false></app-about-me>
            </div>
        </div>
    </div>
</section>

<section id="social-medias">
    <div class="container">
        <div class="d-none d-lg-block row title">
            <h2>My Social Medias</h2>
        </div>
        <div class="row content">
            <div class="text-center">
                <app-social-medias></app-social-medias>
            </div>
        </div>
    </div>
</section>