<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/frontend-engineer.jpg" alt="Front-end Engineer" width="100%" class="bd-placeholder-img" />
      <div class="container">
        <div class="carousel-caption">
          <h1>
            <img alt="Felipe Luis" src="/assets/img/logo-felipe-luis.png" class="img-fluid" />
          </h1>
          <hr class="light d-none d-md-block mx-auto">
          <p class="d-none d-sm-block"> Front-end Engineer </p>
          <a routerLink="/contact" class="btn btn-primary btn-lg">Contact me</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="about-me">
  <div class="container">
    <div class="row content my-5 py-5">
      <div class="d-none d-lg-block row title text-center">
        <h2>About Me</h2>
      </div>
      <div class="col-lg-8 offset-lg-2 text-center">
        <app-about-me></app-about-me>
      </div>
    </div>
    <div class="row content my-5 py-5">
      <div class="d-none d-lg-block row title text-center">
        <h2>My Graduation</h2>
      </div>
      <div class="col-lg-8 offset-lg-2 text-center" *ngFor="let graduation of graduations; let i = index">
        <div class="card">
          <app-lazy-load-image [style]='"card-img-top"' [image]='"/assets/img/graduations/" + graduation.image'
            [title]='graduation.title'></app-lazy-load-image>
          <div class="card-body text-center">
            <h5 class="card-title">{{graduation.title}}</h5>
            <div [innerHTML]="graduation.description"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row content my-5 py-5">
      <div class="d-none d-lg-block row title text-center">
        <h2>My Certificates</h2>
      </div>
      <div class="col text-center">
        <app-certificates></app-certificates>
      </div>
    </div>
  </div>
</section>

<section id="social-medias">
  <div class="container">
    <div class="d-none d-lg-block row title text-center">
      <h2>My Social Medias</h2>
    </div>
    <div class="row content">
      <div class="text-center">
        <app-social-medias></app-social-medias>
      </div>
    </div>
  </div>
</section>

<section id="my-projects">
  <div class="container">
    <div class="d-none d-lg-block row title text-center">
      <h2>My Projects</h2>
    </div>
    <div class="row content">
      <div class="col">
        <app-projects></app-projects>
      </div>
    </div>
  </div>
</section>
