<section class="container my-3 blog-details-section">
  <div *ngIf="blogs">
    <div class="row mt-5 mb-3 text-center title">
      <div class="col">
        <h1 class="display-4 font-weight-bold">
          {{blogs.title}}
        </h1>
        <p class="text-muted">{{'<'+blogs.short_content+'/>'}}</p>
        <hr />
      </div>
    </div>
    <div class="row content">
      <div class="col-12 col-md-8 col-lg-9">
        <div [innerHTML]="blogs.content"></div>
        <hr>

        <disqus [identifier]="blogsId" [title]="blogsTitle" [url]="getUrl()"></disqus>

      </div>
      <aside class="col-12 col-md-4 col-lg-3">
        <app-blogs-side></app-blogs-side>
      </aside>
    </div>
  </div>

  <div *ngIf="error">
    <div class="text-center p-5">
      <h1>This blog not found</h1>
      <p>Please try again later, or goto <a routerLink='/blog'>blog home</a></p>
    </div>
  </div>

  <div *ngIf="loading">
    <ngx-content-loading class="d-block d-md-none" [speed]="'1500ms'" [width]="400" [height]="400"
      [primaryColor]="'#ccc'" [secondaryColor]="'#ddd'">
      <svg:g ngx-rect width="100%" height="30" y="60" x="0" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="50%" height="30" y="100" x="25%" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="20%" height="6" y="140" x="41%" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="2" y="160" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="6" y="180" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="200" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="70%" height="6" y="220" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="240" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="50%" height="6" y="260" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="80%" height="6" y="280" x="0" rx="5" ry="5"></svg:g>
    </ngx-content-loading>

    <ngx-content-loading class="d-none d-md-block" [speed]="'1500ms'" [width]="1000" [height]="400"
      [primaryColor]="'#ccc'" [secondaryColor]="'#ddd'">
      <svg:g ngx-rect width="100%" height="30" y="60" x="0" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="50%" height="30" y="100" x="25%" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="20%" height="6" y="140" x="41%" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="2" y="160" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="6" y="180" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="200" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="70%" height="6" y="220" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="240" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="50%" height="6" y="260" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="80%" height="6" y="280" x="0" rx="5" ry="5"></svg:g>
    </ngx-content-loading>

  </div>

</section>