<section class="container my-3">
  <div *ngIf="blogs">
    <div class="row my-5 text-center">
      <div class="col">
        <h4 class="display-4">
          {{blogs.title}}
        </h4>
        <p class="text-muted">{{'<'+blogs.short_content+'/>'}}</p>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div [innerHTML]="blogs.content"></div>
      </div>
    </div>
  </div>



  <div *ngIf="loading">
    <!-- <app-loading></app-loading> -->

    <ngx-content-loading [speed]="'1500ms'" [width]="1000" [height]="400" [primaryColor]="'#ccc'"
      [secondaryColor]="'#ddd'">
      <svg:g ngx-rect width="100%" height="30" y="60" x="0" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="50%" height="30" y="100" x="25%" rx="10" ry="10"></svg:g>
      <svg:g ngx-rect width="20%" height="6" y="140" x="41%" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="2" y="160" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="100%" height="6" y="180" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="200" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="70%" height="6" y="220" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="97%" height="6" y="240" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="50%" height="6" y="260" x="0" rx="5" ry="5"></svg:g>
      <svg:g ngx-rect width="80%" height="6" y="380" x="0" rx="5" ry="5"></svg:g>
    </ngx-content-loading>
  </div>

</section>