<header id="mainNav">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{ author }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item active">
          <a class="nav-link js-scroll-trigger" href="#page-top">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a data-toggle="tooltip" data-placement="bottom" title="Will open in another window" class="nav-link" target="_blank" href="/public/pdf/curriculo.pdf">My Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#social-medias">My Social Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact me</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
